html, body {
  text-align: center;
  background: #111;
} 
#touchpad, img {
  border-radius: 5%;
  
}

.type {
  color: red;
  width: 15%;
  border-color: red;
  border-radius: 5px;
  background-color: #111;
}

.type:focus {
  color: #111;
  width: 15%;
  border-color: red;
  border-radius: 5px;
  background-color: red;
}

.type:active {
  color: #111;
  width: 15%;
  border-color: red;
  border-radius: 5px;
  background-color: red;
}

.container#headerimg {
  background: url('/assets/images/noise.png');
}